<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
</head>

<body>
    <h2>Hey {{name}}, thank you for testing my api!</h2>
    <br>
    <p>I'm Vitor Dacio, a Fullstack Software Developer.</p>
    <ul>
        You can find me on:
        <li>Linkedin: <a href="https://www.linkedin.com/in/vitordacio/">https://www.linkedin.com/in/vitordacio/</a></li>
        <li>Github: <a href="https://github.com/vitordacio">https://github.com/vitordacio</a></li>
        <li>E-mail: vitordacio@hotmail.com</li>
    </ul>
</body>

</html>